[user]
	name = Dmitry Mazuro
	email = dmitry.mazuro@icloud.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[diff]
      tool = vimdiff
[merge]
      tool = vimdiff
[difftool "vimdiff"]
      cmd = vim -f -d \"$LOCAL\" \"$REMOTE\"
[push]
	default = simple
[color]
	ui = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -sb
[github]
	user = t3chnoboy
