.config/ranger/history
.vim/backups
.vim/bundle
.config/fish/fish_history
.DS_Store
.config/configstore/update-notifier-bower.yml
.config/configstore/update-notifier-generator-angular-fullstack.yml
.config/configstore/update-notifier-generator-angular.yml
.config/configstore/update-notifier-generator-backbone.yml
.config/configstore/update-notifier-generator-coffee.yml
.config/configstore/update-notifier-generator-ember.yml
.config/configstore/update-notifier-generator-express-angular.yml
.config/configstore/update-notifier-generator-express.yml
.config/configstore/update-notifier-generator-expressjs.yml
.config/configstore/update-notifier-generator-knockout.yml
.config/configstore/update-notifier-generator-mocha.yml
.config/configstore/update-notifier-generator-nodejs.yml
.config/configstore/update-notifier-generator-sails-angular.yml
.config/configstore/update-notifier-generator-sails.yml
.config/configstore/update-notifier-generator-webapp.yml
.config/configstore/update-notifier-yo.yml
.private
.private.fish
