.config/ranger/history
.vim/backups
.vim/bundle
.config/fish/fish_history
.DS_Store
.config/configstore/*
.private
.private.fish
.npmrc
.config/hub
.bowerrc
.config/ranger/bookmarks
.ghc/x86_64-darwin-7.6.3/
.ghc/x86_64-darwin-7.8.1/
.ghc/ghci_history
