.config/ranger/history
.vim/backups
.vim/bundle
.config/fish/fish_history
.DS_Store
.config/chromium/
.config/chrome/
.config/google-chrome/
.config/dconf/
.config/configstore/
.config/ibus/
.config/nautilus/
.config/signond/
.private
.private.fish
