<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="/lib/vendor/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="/lib/vendor/date.js"></script>
    <script type="text/javascript" src="/lib/encoder.js"></script>
    <script type="text/javascript" src="/lib/locale/i18n.js"></script>
    <script type="text/javascript" src="/lib/mailaccount.js"></script>
    <script type="text/javascript" src="/lib/background.js"></script>
    <title>Mail Checker Plus for Google Mail™ - Background page</title>
</head>
<body>
    <canvas id="canvas" width="19" height="19"></canvas>
    <img id="gfx" src="/assets/icons/icon_32.png" alt="icon" />
</body>
</html>
