<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/scrollbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/popup.css" />

	<!-- <script type="text/javascript" src="/lib/vendor/au.min.js"></script> -->
    <script type="text/javascript" src="/lib/vendor/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="/lib/vendor/date.js"></script>
    <script type="text/javascript" src="/lib/locale/i18n.js"></script>
    <script type="text/javascript" src="/lib/encoder.js"></script>
    <script type="text/javascript" src="/lib/mailaccount.js"></script>
    <script type="text/javascript" src="/lib/popup.js"></script>
    <script type="text/javascript" src="/lib/templates/account.js"></script>
    <script type="text/javascript" src="/lib/templates/mail.js"></script>

    <title>Mail Checker Plus for Google Mail™ - Popup page</title>
</head>
<body id="body">
    <div id="fullscreenContainer">
        <div id="fullscreenControls" class="vbox">
            <div class="hbox padded">
               <div class="hbox wide">
                  <a class="openLink" href="#"></a>
               </div>
               <div class="hbox">
                  <a class="closeLink imageLink" href="#" title="Close preview"><img src="/assets/img/close.gif" alt="Close" /></a>
               </div>
            </div>
            <div class="hbox padded">
               <div class="hbox wide">
                  <a class="starLink imageLink" href="#"><img src="/assets/img/star.png" /></a>
                  <span class="authorLink author" href="#"></span>
               </div>
               <div class="hbox">
                  <span class="issuedLink" href="#"></span>
                  &nbsp;
                  <a class="replyLink imageLink" href="#"><img src="/assets/img/reply.png" /></a>
                  &nbsp;
                  <a class="readLink" href="#"></a>
                  &nbsp;
                  <a class="deleteLink" href="#"></a>
                  &nbsp;
                  <a class="spamLink"  href="#"></a>
                  &nbsp;
                  <a class="archiveLink" href="#"></a>
               </div>
            </div>
        </div>
        <div id="fullscreenContent"></div>
    </div>


    <div id="title">
      <span>Mail Checker Plus for Google Mail™</span>
    </div>

    <div id="menu">
        <a href="#" id="refresh" class="imageLink"><img src="/assets/img/refresh.png" /></a>
        <a href="#" id="options" class="imageLink"><img src="/assets/img/wrench.png" /></a>
        <a href="http://www.gmail.com" target="_blank" title="Gmail.com"><img src="/assets/img/logo.png" /></a>
    </div>

<!--    <div id="resize">
        <a href="javascript:resizeWindow()" id="resizeLink" class="squareLink"><img src="img/resize.png" class="hidden" /></a>
    </div>-->
    <div id="content"></div>
</body>
</html>
