/* Copyright 2011 Google Inc. All Rights Reserved. */

body {
  background-color: #ebeff9;
  font-family: arial,sans-serif;
  font-size: 13px;
  direction: __MSG_@@bidi_dir__;
}

table {
  font-size: 13px;
  border-spacing: 0px;
}

#content {
  background-color: #ffffff;
  border-color: #b5c7de;
  border-style: solid;
  border-width: 4px;
  margin: 40px auto 20px;
  padding: 12px;
  width: 600px;
  -webkit-border-radius: 12px;
}

#example {
  background-color:#ffff99;
  display: inline-block;
  padding: 3px;
  margin-__MSG_@@bidi_start_edge__: 3px;
}

#colorselector > div {
  height:20px;
  width:20px;
  border:1px gray solid;
  margin:3px;
  cursor:pointer;
  float:__MSG_@@bidi_start_edge__;
}

h1 {
  color: #333333;
  font-size: 1.5em;
  margin: 0.7em 0 0;
  text-align: center;
}

h2 {
  font-size: .8em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight:normal;
  text-align: center;
  width:300px;
}

.note {
  color:grey;
  font-size: smaller;
}

label {
  font-weight: bold;
}
