<!DOCTYPE html>
<html>
<head>
  <title>Donate</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    body {
     font-family: arial, sans-serif;
     font-size: 80%;
    }
  </style>
</head>
<body>
  <p>
    Since you have disabled ad support, please consider <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=L5RHX5RSVBC5N" title="Donate here">making a one time donation of 99 cents</a>:
  </p>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="L5RHX5RSVBC5N">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</body>
</html>
