html,body {-webkit-user-select: auto; }
html {overflow:auto;background:url(../images/themes/light/background_top.jpg) right top no-repeat, url(../images/themes/light/background_strip.jpg) #201F1F repeat-x !important;}
header a {color:#000!important;}
header {position:inherit;width:98%; padding:6px 1%}
label {margin:0; padding:0;}
h1 {font-size:30px;border-bottom:1px solid #eee;padding-bottom:15px;margin-bottom:35px;}
table td {padding:5px 10px;font-size:14px;line-height:26px;vertical-align:middle!important;}

table td span {display:block;font-size:11px;line-height:16px;}
table label {font-size:15px;padding-top:2px;font-weight:bold;color:#555;}
table tr.odd td {
background:#fafafa;
border-radius:4px;
}
table tr td:first-child {text-align:left;}
a {color:#1576B4!important;}
#main {
	position:relative;left:50%;
	width:900px;
	margin-left:-480px;
	padding:30px;
	top:80px!important;
	color:#595A5F;
	background:#fcfcfc;
	margin-bottom:130px;
	padding-bottom:50px;
}
#support {}
#support a {color:#82DBD8!important;}
#colors {width:960px}
#colors div { float:left!important; width:310px; font-size:14px; padding:5px 0px; }
#colors input, .color {
	margin-right:10px;
	width:94px;
	height:32px;
	font-size:11px;
	border:1px solid #ccc;
	padding-right:32px!important;
}
#generalsettings td {padding:8px 10px;}
#support {background:url(../images/footer.support.jpg) center bottom no-repeat #201F1F;padding-bottom:30px;padding-top:30px;padding-top:20px;margin-top:0;color:#ccc;}
#support.cake {background:url(../images/footer.support_.jpg) center bottom no-repeat #201F1F;}
#support div {width:960px;margin:0 auto;position:relative}
#support div .mediatemple {position:absolute;top:0px;right:20px;}
#support h1 {color:#fff;border:0;margin-bottom:10px;}
#support a, #support h1 b {color:#82DBD8;}
#support a {font-size:16px;line-height:30px;}
div.half {width:50%;float:left;}
p.text {font-size:13px; line-height:16px; width:400px;}
p.text img {padding:2px; border:1px solid #eee; margin-right:10px; float:left; width:164px; }
#options_navigation {
	background:#FFFCE5;
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
	margin-bottom:30px;
	margin-left:-31px;
	margin-top:-34px;
	padding:20px 0;
	width:962px;
	color:#fff;
}
#options_navigation ul {margin-left:40px;}
#tab_general {display:block;}
#options {min-height:550px;	height:auto !important;	height:550px;}
#options-sidebar-delicious-username {background:url(../images/options.delicious.gif) no-repeat; background-size:28px;padding-left:32px;}
#tab_importexport a {color:#1576B4!important;text-decoration:underline}
#tab_importexport textarea {width:100%;border:1px solid #ccc;}
#import, #export {display:none;}
#import p , #export p {font-size:16px;background:#fff;padding:5px 0px;border:0px solid #ccc;border-bottom:0;}
#options_navigation li {margin-right:20px;display:inline;}
.options_tab {display:none;}
.options_tab_link {color:#444!important; font-weight:bold;font-size:16px;}
.options_tab_link:hover {text-decoration:underline}
.options_tab_link.selected {color:#DE525F!important}
.section {font-size:20px;color:#4DAFDE;border-bottom:1px solid #ccc;margin:15px 0 0 0;}
#dial_styles td {text-align:center;}
#dial_styles td a {display:block;margin-top:0px;text-align:center;color:#000!important;font-size:12px;}
#dial_styles td img {opacity:0.7; cursor:pointer}
#dial_styles td:hover img {opacity:1}
#themes div {cursor:pointer;width:280px;float:left;margin-right:20px;margin-bottom:20px;}
#themes div:hover img {border:1px solid #444}
#themes img {width:100%;border:1px solid #eee;padding:3px}
#themes td {padding:0 2%;border-right:0px solid #eee;font-size:14px;font-size:12px;}
#themes a {color:#0FA5DE;}
#main .save_settings_button,
#savesettingstop {margin-right:15px;border:1px solid #ccc;background:#fcfcfc;color:#444;font-size:20px;margin-right:0;}
#main .save_settings_button:hover,
#savesettingstop:hover {border:1px solid #aaa; color:#222; background:#fafafa}
.changelog {position:absolute;right:10px;top:-65px;font-weight:normal!important;}
.changelog a {font-weight:normal;}
#changelog {font-size:12px;line-height:1.6em; }
#changelog h3 {font-size:16px;border-bottom:1px solid #999;margin-bottom:10px; display:block;  margin-left:-31px; background:#797979; text-align:center; width:100px; color:#fff; border-radius:0 4px 4px 0;padding:3px 8px;}
#pages {
  width:430px;
  margin:0 auto;
  box-sizing: border-box;
}
#pages li {
  display:block;
  box-sizing: border-box!important;
}
#pages li a {
 margin:5px!important;
 -webkit-box-shadow: none;
 box-sizing: border-box!important;

}
#pages li a.glowshadow {
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 15px;
}
#pages li .thumbnail_container {
  height:220px!important;
}
#pages li .shadow {
  position:static;
  background:#000;
  height:10px;
  width:400px;
  margin-top:-5px;
  margin-left:5px;
  background-size:100% 10px;
  background:url('../images/shadow_paper.png');
}
#tab_sync {
  padding:0!important;
  margin:0!important;
  width:962px!important;
  margin-left:-31px!important;
  margin-top:-30px!important;
  min-height:500px;
  height:auto !important;
  height:500px;
  background:url('../images/options.clouds.jpg') no-repeat;
}
#sync_account {
  width:550px;
  margin:0px auto;

  color:#A2ACB6!important;
}
#sync_status {font-size:12px;display:inline;}
#sync_account label {
  margin-top:30px;
  font-family:"Times new roman",serif;
  font-weight:normal;
  font-style:italic;
  color:#222;
  font-size:20px;
}
#sync_account input[type=image] {
  padding:0;
  border:0;
  box-shadow:0;
}
#options-sync-username, #options-sync-password {

  width:220px!important;
  padding:10px;
  border:1px solid #ccc;
  box-shadow:inset 0 0 20px rgba(0,0,0,0.1);
  border-radius:3px;

}
#sync_account a {
  color:#A2ACB6!important;
  font-size:12px;
}
#setup_sync {
  margin-top:0;
  padding-top:0;
  clear:both;
}
#setup_sync img {
  float:right;
  margin-top:0px;
  margin-bottom:20px;
}
#setup_sync div {
  padding:80px;
  padding-top:0;
  width:350px;
}
#setup_sync div p#sync_info {
  font-size:28px;
  margin-bottom:20px;
}
#setup_sync div #sync_features {
  margin:0px;
  list-style-type:circle;
  color:#428FCD;
  font-size:19px;
}
#setup_sync div #sync_features a{ color:#42A2E6!important; text-decoration:underline; }
#setup_sync div #sync_features li {margin:8px 0}
#setup_sync div span {

  font-weight:bold;
}
#setup_sync div p#sync_price {
  font-size:28px;
  margin-top:20px;
}
#setup_sync div p#sync_price_info {
  font-size:16px;
  color:#919191;
}

#explain_sync {
  padding:20px 80px;
  border-top:1px dotted #ccc;
  color:#666;
  font-size:12px;
  line-height:1.7em;
}
#explain_sync #left {
  width:42%;
  float:left;
}
#explain_sync #right {
  width:47%;
  float:right;
}
#explain_sync h2 {
  color:#428ECC;
  padding:0;
  border:0;
  margin:25px 0 20px 0;
  font-size:22px;
}
#explain_sync h3 {
  color:#222;
  margin:10px 0 5px 0;
  font-size:16px;
}
#subtle_patterns {width:100%;padding:20px 0;}
.pattern {width:170px;height:170px;margin:3px;border:1px solid #eee;display:block;float:left!important;background-repeat:repeat;cursor:pointer;}
.pattern:hover {border:1px solid #ccc;}
ul.tabs {
  border-bottom:1px solid #ccc;
  padding-left:5px;
  padding-bottom:0!important;
  margin:0;
}
ul.tabs li {
  display:inline-block;
  padding:9px 12px 9px 12px!important;
  margin-bottom:-1px;
  font-size:14px;
  font-weight:bold;
  border:1px solid #ccc;
  margin-left:2px;
  background:#eee;
  border-radius:2px 2px 0 0;
  -moz-border-radius:2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  z-index:1;
  position:relative;
}
ul.tabs li:hover  {
  cursor:pointer;
  background:#f6f6f6;
}
ul.tabs li.selected  {
  border-bottom:1px solid #fff;
  background:#fff;
}
ul.tabs li a {
  color:#444;
  text-decoration:none;
}
.tab {
  min-height:500px;
  height:auto !important;
  height:500px;
}
h3.info {
  font-size:17px;
  color:#aaa;
  line-height:1.6em;
  font-weight:normal;
  padding:20px 0 0px 0;;
  text-align:left;
}
h3.info a {color:#86ADC1!important}
#notes {margin:0 0 40px 0;}
#notes h3 {font-size:1.4em;color:#0083EC}
#notes p {margin:15px 0;}
#notes b {font-size:1.1em;margin-bottom:5px;display:block;}
#register_account{ margin:0 auto;font-family:'times new roman', serif;font-style:italic; padding-top: 90px;font-size:30px; color:#C9C9C9;width:512px;height:100px;background:url(../images/options.sync.login.png) no-repeat}
#register_account a {color:#C9C9C9!important; text-decoration:underline; }
#custom-tweet-button {
    display: inline-block;
    margin-top:-2px;
    padding: 2px 5px 2px 20px;
    background: url('http://a4.twimg.com/images/favicon.ico') 3px center no-repeat;
    border: 1px solid #ccc;
    border-radius:3px;
    background-color:#eee;
}

#preview #pages li {
  position:static;padding-bottom:14px;
}
#preview #pages li a {
  padding:7px; padding-bottom: 0px;
}
#preview #pages li a .thumbnail_container {
  background-size: contain; background-image: url(../images/options.dial.jpg); height: 131.66666666666666px; background-position: 50% 50%;
}
#preview #pages li a .title {
  height:28px;padding:4px 3px;font-size:16px;
}
#explain {
  display:none
}
#options-corners-val {
  border:0;background:transparent;width:25px;margin-left:15px;padding:0;margin-right:0px;
}
#options-padding-val {
  border:0;background:#fff;width:25px;margin-left:15px;padding:0;margin-right:0px;
}

#options-fontsize {
  width:40px;padding:2px;
}
#options-fontstyle {
  width:200px;
}
#options-custom-css {
  width:900px;
}
#tab_design .tabs {
  margin-left:-30px;padding-left:20px;width:940px;margin-bottom:0;
}
a.explain_link {color:#999!important;font-size:12px;}
a.explain_link:hover {text-decoration:underline}

label[for] {
  cursor:pointer!important;
}
label[for]:hover {
  text-decoration:underline;
}

input[name=options-dropShadow],
input[name=options-titlePosition],
input[name=options-titleAlign]
{
  margin-left:20px;
}
input[name=options-dropShadow]:first-child,
input[name=options-titlePosition]:first-child,
input[name=options-titleAlign]:first-child {
  margin:0;
}

.questionmark {
  cursor:pointer;
  background:url(../images/misc.questionmark.png) no-repeat;
  background-size:contain;
  float:right;
  width:12px;
  height:12px;
  margin:5px 0 0 0;
  opacity:0.7;
  padding:5px;
  font-weight:bold;
  font-size:16px;
}
.questionmark:hover {
  opacity:1;
}

.bookmarks-provider {
  width:700px;
  background:#fafafa;
  border:1px solid #eee;
  margin-top:20px;
  text-align:left;
  padding:20px;
}
.bookmarks-provider table {
  margin:0!important;

}
.bookmarks-provider input[type=text] {
  width:200px;
}

