awesome/awesome-copycats/
awesome/blingbling/
awesome/contrib/
awesome/couth/
awesome/couth2/
awesome/eminent/
awesome/freedesktop/
awesome/lain/
awesome/powerarrowf/
awesome/scratchdrop/
awesome/screenshots/
awesome/themes/
awesome/vicious/
awesome/widgets/
