html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small, strong, b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, tbody, tfoot, thead, tr, th, td, footer, header {
margin:0; padding:0;border:0; outline:0;font-size:100%; vertical-align:baseline;background:transparent;}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }
body, select, input, textarea { color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; }
textarea { overflow: auto; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid {}
input:invalid, textarea:invalid { border-radius: 1px;-webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }
a:link { -webkit-tap-highlight-color: #FF5E99; }
button {  width: auto; overflow: visible; }
.hidden { display: none; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; visibility: hidden;}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.clear {clear:both;height:1;width:1;}
.error,span.required {color:#f00;}
.alignright {float:right!important;}
.alignleft {float:left!important;}
.noalign {float:inherit!important;}
.inline {display:inline;}
.rounded10 {-webkit-border-radius:10px; border-radius:10px; }
.rounded4  {-webkit-border-radius:4px;border-radius:4px; }
.dropshadow {border:1px solid #ccc;background-color: #FFFFFF!important;-webkit-border-radius: 8px;padding: 34px;padding-bottom: 0px; border-top-left-radius: 8px 8px;border-top-right-radius: 8px 8px;border-bottom-right-radius: 8px 8px;border-bottom-left-radius: 8px 8px;}
.insetshadow {-webkit-box-shadow:inset 1px 1px 15px rgba(160, 160, 160, 0.15);}
.p20 {padding:20px!important}
.p30 {padding:30px!important}
h2 {font-size:2em;padding-bottom:1em;border-bottom:1px solid #eee;margin-bottom:1em;}
input[type=text],input[type=password] {width:480px;}
input {border:1px inset #ccc;font-size:15px;outline:none;}
label {display:block;font-size:13px;margin:10px 0;}
input {padding:6px 10px;}

/* MASTER */
@font-face {font-family: 'Nobile';src:url('font/nobile/nobile-webfont.ttf') format('truetype'); font-weight: normal; font-style: normal;}
html {overflow:hidden}
html,body {-webkit-user-select: none; cursor:default; margin:0!important;padding:0!important;}

html {overflow:hidden;}

/* Turn on a 13x13 scrollbar */
::-webkit-scrollbar {
	width: 6px;
}

/* Track below and above */
::-webkit-scrollbar-track-piece {
	background-color: white;
}

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
	background-color: #aaa;
	border-radius:2px;
}

a, a:active, a:visited { color: #233; text-decoration:none; cursor:pointer; }
a:hover { color: #000; text-decoration:underline; }
label {cursor:default;}
header{ top:0; left:0; float:right; padding:6px 10px 6px 10px; z-index:999;}
header a {color:#ccc!important;font-size:13px;}
footer {bottom:10px;text-align:right; right:15px; color:#888; position:fixed; font-size:11px; z-index:1999;clear:both}
footer span {color:#FA5994;}
footer a {color:#aaa!important;text-decoration:underline;margin-right:5px;}
#navigation ul, #navigation li {list-style-type:none; margin:0; padding:0; }
#navigation li {display:inline-block; margin:0 1em 0 0;}
#navigation ul li a:hover {text-decoration:underline!important;}
#container {width:100%;height:100%;}
#content  {padding:2%;width:96%;border:0;}
#main {margin-bottom:0px;position:relative;top:0; display:block;}

#message {display:block;width:300px;background:#222;color:#fff;padding:20px;font-size:20px;position:fixed;top:35%;left:50%;margin-left:-170px;border:1px solid #555;z-index:99999;-webkit-border-radius:5px;display:none; text-align:center;}
#message a {color:#66D9EF;text-decoration:underline;}

/* --------------------------------------------------------
	News
   --------------------------------------------------------	*/

	#news {
		-webkit-transform: scale(0.8);
		opacity: 0;
		transition: all 0.3s;
		visibility: hidden;
		background:#fff;
		border-radius:4px;
		border:1px solid #ccc;
		z-index:9999;
		font-size:14px;
		line-height:24px;
		color:#444;
		left:0;
		top:0;
		margin:0;
		position:absolute;
		top:100px;
		left:50%;
		width:700px;
		margin-left:-377px;
		padding:26px;
		max-height:440px;
		overflow:scroll;
	}
	#news.shown {
		-webkit-transform: scale(1);
		visibility: visible;
		opacity: 1;
	}
	#news p { margin:16px 0; }
	#news ul {margin:10px 0 10px 20px;padding-left: 0px;}
	#news h1 {font-size:20px;margin:0 0 10px 0;color:#222;border-bottom:1px dotted #ddd;padding-bottom:10px;}
	#news h3 {margin:16px 0 10px 0;font-size:1.15em;}
	#news a {color:#489BD3}
	#news a b {font-size:20px;}
	#news .close-news.btn {margin-top:10px;}
	#news .close {
		float:right;cursor:pointer;
	}
	#news.shown ~ #overlay {
		opacity: 1;
		visibility: visible;
	}

/* --------------------------------------------------------
	What's new
   --------------------------------------------------------	*/

	.whatsnew, .whatsnew li {padding:0;margin:0;list-style:none;}
	.whatsnew li {padding:4px 0 4px 32px;border-bottom:1px solid #eee;}
	.whatsnew li.completed {background:url(../images/options.check.png) 5px 3px no-repeat;}
	.whatsnew li.waiting   {background:url(../images/options.clock.png) 5px 3px no-repeat;}

/* --------------------------------------------------------
	Misc
   --------------------------------------------------------	*/

	.show-premium, .show-unregistered {
		display:none;
	}
	.jscolor {background:#eee;border:none!important}
	.become-a-pro {
		position:fixed;
		bottom:40px;
		right:60px;
		background:#e64115;
		color:#fff!important;
		padding:6px 12px;
		font-size:14px;
		border-radius:4px;
		display:none;
	}


/* --------------------------------------------------------
	Tooltip, popover
   --------------------------------------------------------	*/

	.tooltip {
		position: absolute;
		font-family:sans-serif;
		z-index: 1020;
		display: block;
		visibility: visible;
		padding: 5px;
		font-size: 11px;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	.tooltip.in {
		opacity: 0.8;
		filter: alpha(opacity=80);
	}
	.tooltip.top {
		margin-top: -2px;
	}
	.tooltip.right {
		margin-left: 2px;
	}
	.tooltip.bottom {
		margin-top: 2px;
	}
	.tooltip.left {
		margin-left: -2px;
	}
	.tooltip.top .tooltip-arrow {
		bottom: 0;
		left: 50%;
		margin-left: -5px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #000000;
	}
	.tooltip.left .tooltip-arrow {
		top: 50%;
		right: 0;
		margin-top: -5px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid #000000;
	}
	.tooltip.bottom .tooltip-arrow {
		top: 0;
		left: 50%;
		margin-left: -5px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #000000;
	}
	.tooltip.right .tooltip-arrow {
		top: 50%;
		left: 0;
		margin-top: -5px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-right: 5px solid #000000;
	}
	.tooltip-inner {
		max-width: 200px;
		padding: 5px 8px 7px 8px;
		color: #ffffff;
		text-align: center;
		text-decoration: none;
		background-color: #000000;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.tooltip-arrow {
		position: absolute;
		width: 0;
		height: 0;
	}
	.popover {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1010;
		display: none;
		padding: 5px;
	}
	.popover.top {
		margin-top: -5px;
	}
	.popover.right {
		margin-left: 5px;
	}
	.popover.bottom {
		margin-top: 5px;
	}
	.popover.left {
		margin-left: -5px;
	}
	.popover.top .arrow {
		bottom: 0;
		left: 50%;
		margin-left: -5px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 5px solid #000000;
	}
	.popover.right .arrow {
		top: 50%;
		left: 0;
		margin-top: -5px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-right: 5px solid #000000;
	}
	.popover.bottom .arrow {
		top: 0;
		left: 50%;
		margin-left: -5px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #000000;
	}
	.popover.left .arrow {
		top: 50%;
		right: 0;
		margin-top: -5px;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid #000000;
	}
	.popover .arrow {
		position: absolute;
		width: 0;
		height: 0;
	}
	.popover-inner {
		padding: 1px;
		width: 280px;
		overflow: hidden;
		background: #aaa;

		-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
		box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	}
	.popover-title {
		padding: 9px 15px;
		line-height: 1;
		background-color: #f5f5f5;
		border-bottom: 1px solid #eee;
	}
	.popover-content {
		padding: 14px;
		background-color: #ffffff;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding-box;
		background-clip: padding-box;
	}
	.popover-content p {
		margin-top:0;
	}
	.popover-content p, .popover-content ul, .popover-content ol {
		margin-bottom: 0;
	}

/* --------------------------------------------------------
	Input - range
   --------------------------------------------------------	*/

	input[type='range'] { cursor:pointer; }
	.dialog input.input-range-value, input.input-range-value {color:#000;font-weight:bold;text-align:center;border:0!important;background:transparent;width:38px!important;margin-left:15px;padding:0;margin-right:0px;}
	input[type="range"] {
		-webkit-appearance:none;
		height:1px;
		padding:0;
		border:none;
		background:#ccc;
	}
	::-webkit-slider-thumb:hover {
		background:#666;
	}
	input::-webkit-slider-thumb{
		-webkit-appearance:none;
		width:12px; height:12px;
		border-radius:12px;
		background:#aaa;
	}

/* --------------------------------------------------------
	Customized checkboxes
   --------------------------------------------------------	*/

	.iPhoneCheckContainer { position:relative; height:26px; cursor:pointer; overflow:hidden;}
	.iPhoneCheckContainer label { white-space:nowrap; font-size:16px; line-height:17px; font-weight:300; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; text-transform:uppercase; cursor:pointer; display:block; height:26px; position:absolute; width:auto; top:0; padding-top:8px; overflow:hidden; }
	.iPhoneCheckContainer input { position:absolute; top:5px; left:30px; opacity:0; }
	.iPhoneCheckContainer,.iPhoneCheckContainer label { user-select:none; -moz-user-select:none; -khtml-user-select:none; }
	.iPhoneCheckDisabled { opacity:0.5; }
	label.iPhoneCheckLabelOn { left:0px; background:#b7ffdc;  }
	label.iPhoneCheckLabelOn span { font-size:12px; font-weight:bold;}
	label.iPhoneCheckLabelOff { background:#ddd; text-align:right; }
	label.iPhoneCheckLabelOff span { font-size:12px; font-weight:bold;}
	label.iPhoneCheckLabelOn,
	label.iPhoneCheckLabelOff { padding:0; }
	label.iPhoneCheckLabelOn span,
	label.iPhoneCheckLabelOff span { color:#666; padding:5px 10px; }
	.iPhoneCheckHandle { display:block; cursor:pointer; position:absolute; top:0; left:0; width:0; background:#666;border-radius:4px; }
	.iPhoneCheckContainer:hover .iPhoneCheckHandle { background:#444!important;}
	.iPhoneCheckHandleRight { height:100%; width:100%; }
	.iPhoneCheckHandleCenter { height:100%; width:100%; }
	.iPhoneCheckContainer {border-radius:4px; width:80px!important; padding:0;}
	.iPhoneCheckHandle {width:32px!important}

/* --------------------------------------------------------
	jQuery UI CSS Framework 1.8.18
   --------------------------------------------------------	*/

	.ui-helper-hidden { display: none; }
	.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
	.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
	.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
	.ui-helper-clearfix:after { clear: both; }
	.ui-helper-clearfix { zoom: 1; }
	.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }
	.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: hidden; *overflow: visible; } /* the overflow property removes extra width in IE */
	.ui-button .ui-button-text { display: block; line-height: 1.4;  }
	.ui-button-text-only .ui-button-text { padding: .4em 1em; }
	.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
	.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
	.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
	.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
	input.ui-button { padding: .4em 1em; }
	.ui-buttonset { margin-right: 7px; }
	.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }
	button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */
	.ui-button {border:none;color:#777;background:none;}
	.ui-button-text {font-weight:normal;font-size:14px!important;padding-left:0;}
	.ui-buttonset .ui-button.ui-state-active .ui-button-text {font-weight:bold!important;padding-left:28px;background:url(../images/options.sync-indicator.png) 10px no-repeat;}
	.ui-buttonset .ui-button.ui-state-hover{text-decoration:underline!important;}
	.ui-buttonset .ui-#savesettingstop.ui-state-active{color:#444;}

/* --------------------------------------------------------
	Tabs
   --------------------------------------------------------	*/

	ul.tabs {
		border-bottom:1px solid #ccc;
		padding-bottom:0!important;
		margin:0 0 20px 0;
	}
	ul.tabs li {
		display:inline-block;
		padding:9px 12px 9px 12px!important;
		margin-bottom:-1px;
		font-size:14px;
		font-weight:bold;
		border:1px solid #ccc;
		margin-left:0px;
		background:#eee;
		border-radius:2px 2px 0 0;
		border-radius:2px;
		z-index:1;
		position:relative;
	}
	ul.tabs li:hover  {
		cursor:pointer;
		background:#f6f6f6;
	}
	ul.tabs li.selected  {
		border-bottom:1px solid #fff;
		background:#fff;
	}
	ul.tabs li a {
		color:#444;
		text-decoration:none;
	}

/* --------------------------------------------------------
	Add / edit dialog
   --------------------------------------------------------	*/

	.dialog {
		position:absolute;
		border-radius:2;
		background-color:#fff !important;
		width:500px;
		z-index:1000!important;
		top:10%;
		border:1px solid #eee;
		left:50%;
		padding-top:60px;
		padding-bottom:50px;
		margin-top:0px;
		margin-left:-186px;
		margin-left:-285px;
		visibility: hidden;
		-webkit-transform: scale(0.8);
		opacity: 0;
		transition: all 0.3s;
		position: absolute;
		z-index: 999;
		background: white;
	}
	.dialog.shown {
		-webkit-transform: scale(1);
		visibility: visible;
		opacity: 1;
	}
	.dialog-header {
		width:100%;
		position:absolute;
		box-sizing:border-box;
		left:0;
		top:0;
		background:#eee;
		margin:0 0 0px 0;
		background-color: #F9FAFC;
		font-size:22px;
		text-align:center;
		overflow:hidden;
		border-bottom: 1px solid #EEE;
		text-shadow:0 1px 1px rgba(255,255,255,1);
	}
	.dialog input[type=text], .dialog input[type=password],.dialog select {
		border:1px solid #ccc!important;
	}
	.dialog-footer {
		width:100%;
		text-shadow:0 1px 1px rgba(255,255,255,1);
		color:#999;
		position:absolute;
		box-sizing:border-box;
		padding:10px 20px 12px 20px;
		left:0;
		bottom:0;
		background:#eee;
		margin:0 0 0px 0;
		background-color: #F9FAFC;
		border-top: 1px solid #eee;
		text-align:right;
	}
	.dialog-footer a {color:#999;}
	.dialog h2 {
		font-weight:300;
		border:0;
		padding:0;
		margin:0;
		color:#666;
		font-size:28px;
		line-height:2em;
	}
	.dialog a {
		color:#4699df;
	}
	.dialog-footer input[type="button"].warning_button
	{
		background:#DB2424;
		color:#fff;
	}
	.dialog-footer input[type="button"].warning_button:hover {
		background:#F53939;
	}
	.dialog form {width:500px;margin:0 auto;}
	.dialog form select {padding:5px 2px;width:280px;outline:none;border:1px solid #ccc;}
	.dialog.shown ~ #overlay {
		opacity: 1;
		visibility: visible;
	}

	/* Dialog base classes */

		#url-dialog h3 {
			font-size:16px;
			margin:20px 0;
		}
		#url-dialog input[type=text] {
			width:300px;
		}
		#url-dialog .uipart {display:none;}
		#url-dialog .dialog-footer .uipart{
			display:inline;
		}
		#url-dialog .url-dialog-url input[type=text] {
			width:260px;
			display:inline-block;
		}
		#url-dialog .url-dialog-url div {
			vertical-align:top;
		}
		.url-dialog-url .url-selector {
			display:inline-block;
			background: url(../images/newtab.select.png?v=1) no-repeat center center #eee;
			border:1px solid #ddd;
			width:30px;
			height:29px;
			overflow:hidden;
		}
		.url-dialog-url .url-selector:hover {
			background-color:#ddd;
			cursor: pointer;
			border-color:#ccc;
		}

	/* Select thumbnail classes */
		#url-dialog-thumbnail .tab {
			display:none;
			padding:0px;
			margin:20px 0 0 0;
			font-size:16px;
			background:#fff;
			border-top:none;
		}
		#url-dialog-thumbnail .tab.active {
			display:block;
		}

/*		#url-dialog-thumbnail a {
			color:#0af;
		}
		#url-dialog-thumbnail ul.tabs {
			margin:10px 0 0px 0;
		}
		#url-dialog-thumbnail ul.tabs li {
			font-weight:normal;
			font-size:13px;
			color:#777;
		}
		#url-dialog-thumbnail ul.tabs li:hover {
			color:#777;
		}
		#url-dialog-thumbnail ul.tabs li.selected {
			color:#222;
		}
		#url-dialog-thumbnail .tab {
			display:none;
			padding:0px;
			margin:20px 0 0 0;
			font-size:16px;
			background:#fff;
			border:1px solid #ddd;
			border-top:none;
		}
		#url-dialog-thumbnail #logo-loading {
			display:none;
		}
		#url-dialog-thumbnail.uploading #logo-loading {
			display:block;
		}
		#url-dialog-thumbnail #upload_logo {
			display:none;
		}
		#url-dialog-thumbnail.uploading #logo-file-input {
			display:none;
		}
		#url-dialog #logo-custom-url input[type=text] {
			width:100%;
		}
		*/



	/* Preview thumbnail*/

		#url-dialog .logo-container {
			float:right;
			position:relative;
			border:1px solid #ddd;
			margin-top:26px;
			margin-left:10px;
			text-align:center;
		}
		#url-dialog .logo-container a {
			visibility:visible;
			width:24px;
			height:24px;
			display:block;
			position:absolute;
			top:-10px;
			right:10px;
			color:#fff;
			background: #ef6449 url(../images/newtab.remove.png) no-repeat;
			border-radius:50%;
			background-size:24px;
			transition: 0.2s background;
		}
		#url-dialog .logo-container a:hover {
			background-color:#555;
		}
		#url-dialog .logo-container.no-thumbnail a {
			visibility:hidden;
		}
		#url-dialog .logo-container > div {
			height:98px;
			width:170px;
			background-size:contain;
			background-position:center;
			background-repeat:no-repeat;
		}
		#url-dialog .logo-container.no-thumbnail > div {
			background-image: url(../images/newtab.time.png)!important;
		}

#url-dialog .capture-explain {
	margin:0 0 20px 0; font-size:13px; color:#444; line-height:1.5em;
}

	/* Popular logos */

		#logo { margin:0; padding:0; border:1px solid #ddd; max-height:260px; overflow-y:scroll; overflow-x:hidden;}
		#logo li {height:86px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;margin:0;float:left;width:163px;background-size:contain;background-position:center;background-repeat:no-repeat;display: inline-block;opacity:0.9;transition:all 0.2s;}
		#logo li:hover {cursor:pointer;border-color:#bbb;opacity:1;}
		@media(max-height:820) {
			#logo {
				max-height:172px;
			}
		}
		@media(max-height:720) {
			#logo {
				max-height:86px;
			}
		}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity:0;
	visibility: hidden;
	z-index: 999;
	background: rgba(0,0,0,0.4);
	-webkit-transition: all 0.3s;
}
#overlay.dark {
	background: rgba(0,0,0,0.30);
}

/* --------------------------------------------------------
	Progressbar
   --------------------------------------------------------	*/
	@-webkit-keyframes progressbar { to {background-position: 30px 0;} }
	.progress-bar {
		height:15px;
		border-radius: 20px;
	}
	.progress-bar .bar {
		background: #6caee7;
		width:100%;
		height:30px;
		height: 15px;
		border-radius: 12px;
	}
	.progress-bar .fill {
		width: 100%;
		height: 15px;
		border-radius: 20px;
		-webkit-animation: progressbar 1s linear infinite;
		background-repeat: repeat-x;
		background-size: 30px 30px;
		background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	}

/* --------------------------------------------------------
	Buttons
   --------------------------------------------------------	*/

	.btn {
		color: white!important;
		display: inline-block;
		position: relative;
		border: none;
		font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
		font-size: 16px;
		line-height: 1.6875;
		text-align: center;
		letter-spacing: .05em;
		text-decoration: none;
		padding: .37143em 1.42857em;
		max-width: 100%;
		border-radius: 4px;
		transition: all .2s ease;
		background: #e85c41;
	}
	.btn:hover {
		background:#db3a1b;
		text-decoration: none;
	}

	.btn.blue {
		background: #4699df
	}
	.btn.blue:hover {
		background: #1f72b8
	}

	.btn.brown {
		background: #3d3838;
		color:white!important;
	}
	.btn.brown:hover {
		background: #333
	}

	.btn.white {
		background: white;
		color:#222!important;
	}
	.btn.white:hover {
		background: #eee
	}

	.btn.red {
		background: #DB2424;
		color:white!important;
	}
	.btn.red:hover {
		background: #F53939
	}

	.btn.grey {
		background: #f2f2f2;
		color:#666!important;
	}
	.btn.grey:hover {
		background: #e9e9e9
	}

	.btn.classic {
		background: #fafafa;
		border: 1px solid #ccc;
		box-shadow: inset 0 0 1px 1px #f6f6f6;
		color: #444!important;
		font: bolder 12px/1 "helvetica neue", helvetica, arial, sans-serif;
		padding:4px 10px;
		transition:none;
	}
	.btn.classic:hover {
		background: #eee;
		box-shadow: inset 0 0 1px 1px #eaeaea;
		color: #222!important;
		cursor: pointer; }
	.btn.classic.selected {
		background-color: #e6e6e6!important;
	}

	.btn.block {
		display:block!important;
	}

	.btn.btn-small {
		font-size:14px;
	}
