html,body {-webkit-user-select: auto; }
html {overflow:auto;background:url(../images/themes/light/background_top.jpg) right top no-repeat, url(../images/themes/light/background_strip.jpg) #201F1F repeat-x !important;}
body {
	font-family:helvetica, arial, sans-serif;
}
header a {color:#000!important;}
header {position:inherit;width:98%; padding:20px 1%}
label {margin:0; padding:0;}
h1 {font-size:30px;border-bottom:1px solid #eee;padding-bottom:15px;margin-bottom:35px;color:#222;}
table td {padding:5px 10px;font-size:14px;line-height:26px;vertical-align:middle;}

table td span {display:block;font-size:11px;line-height:16px;}
table label {font-size:14px;padding-top:2px;font-weight:bolder;color:#555; }
table tr.odd td {
background:#fafafa;
border-radius:4px;
}
input {
	border-style:solid;
	border-color:#ccc;
}
table tr td:first-child {text-align:left;}
select {
	-webkit-appearance: button;
	-webkit-border-radius: 0px;
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: url(../images/options.dropdown.png),
		-webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 0;
	padding: 6px 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	outline:none;
}
select:hover {
	background-image: url(../images/options.dropdown.png),
	-webkit-linear-gradient(#fff, #fafafa 40%, #eee);
	cursor:pointer;
}
a {color:#1576B4!important;}
p {
	margin:10px 0;
}
#main {
	width:900px;
	margin:0 auto;
	padding:30px;
	top:10px!important;
	color:#595A5F;
	background:#fcfcfc;
	margin-bottom:46px;
	clear:both;
	padding-bottom:50px;
}
.wrap {
	width:960px;
	margin:0 auto;
}
.ac {
	text-align:center;
}
#support {}
#support a:not(.btn) {color:#82DBD8!important;}
#colors {width:960px}
#colors div { float:left!important; width:310px; font-size:14px; padding:5px 0px; }
#colors input, .color {
	margin-right:10px;
	width:94px;
	height:32px;
	font-size:11px;
	border:1px solid #ccc;
	padding-right:32px!important;
}
#generalsettings td {padding:8px 10px;}
#support {background:url(../images/footer.support.jpg) center bottom no-repeat #201F1F;padding-bottom:30px;padding-top:30px;padding-top:20px;margin-top:0;color:#ccc;}
#support.cake {background:url(../images/footer.support_.jpg) center bottom no-repeat #201F1F;}
#support div {width:960px;margin:0 auto;position:relative}
#support div .mediatemple {position:absolute;top:0px;right:20px;}
#support h1 {color:#fff;border:0;margin-bottom:10px;}
#support a, #support h1 b {color:#82DBD8;}
#support a {font-size:16px;line-height:30px;}
div.half {width:50%;float:left;}
p.text {font-size:13px; line-height:16px; width:400px;}
p.text img {padding:2px; border:1px solid #eee; margin-right:10px; float:left; width:164px; }
#options_navigation {
	background:#FFFCE5;
	background:#fafafa;
	border-bottom:1px solid #eee;
	border-top:1px solid #eee;
	margin-bottom:30px;
	margin-left:-30px;
	margin-top:-34px;
	padding:20px 0;
	width:960px;
	color:#fff;
}
#options_navigation ul {margin-left:40px;}
#tab_general {display:block;}
#options {min-height:550px;	height:auto !important;	height:550px;}
#options-sidebar-delicious-username {background:url(../images/options.delicious.gif) 10px 8px no-repeat; background-size:14px;padding-left:32px;}
#tab_importexport textarea {width:100%;border:1px solid #ccc;}
#import, #export {display:none;}
#import p , #export p {font-size:16px;background:#fff;padding:5px 0px;border:0px solid #ccc;border-bottom:0;}
#options_navigation li {margin-right:20px;display:inline;}
.options_tab {display:none;}
.options_tab_link {color:#444!important; font-weight:bold;font-size:16px;}
.options_tab_link:hover {text-decoration:underline}
.options_tab_link.selected {color:#e85c41!important}
.section {font-size:20px;color:#222;margin:24px 0 0 0; }
#dial_styles td {text-align:center;}
#dial_styles td a {display:block;margin-top:0px;text-align:center;color:#000!important;font-size:12px;}
#dial_styles td img {opacity:0.7; cursor:pointer}
#dial_styles td:hover img {opacity:1}
#themes div {cursor:pointer;width:280px;float:left;margin-right:20px;margin-bottom:20px;}
#themes div:hover img {border:1px solid #444}
#themes img {width:100%;border:1px solid #eee;padding:3px}
#themes td {padding:0 2%;border-right:0px solid #eee;font-size:14px;font-size:12px;}
#themes a {color:#0FA5DE;}

.changelog {position:absolute;right:10px;top:-65px;font-weight:normal!important;}
.changelog a {font-weight:normal;}
#changelog {font-size:12px;line-height:1.6em; }
#changelog h3 {font-size:16px;border-bottom:1px solid #999;margin-bottom:10px; display:block;  margin-left:-31px; background:#797979; text-align:center; width:100px; color:#fff; border-radius:0 4px 4px 0;padding:3px 8px;}
#pages {
	width:430px;
	margin:0 auto;
	box-sizing: border-box;
}
#pages li {
	display:block;
	box-sizing: border-box!important;
}
#pages li a {
 margin:5px!important;
 -webkit-box-shadow: none;
 box-sizing: border-box!important;

}
#pages li a.glowshadow {
	-webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 15px;
}
#pages li .thumbnail_container {
	height:220px!important;
}
#pages li .shadow {
	position:static;
	background:#000;
	height:10px;
	width:400px;
	margin-top:-5px;
	margin-left:5px;
	background-size:100% 10px;
	background:url('../images/shadow_paper.png');
}
#tab_sync {
	padding:0!important;
	margin:0!important;
	width:960px!important;
	margin-left:-30px!important;
	margin-top:-30px!important;
	min-height:500px;
	height:auto !important;
	height:500px;
	background:url('../images/options.clouds.jpg') no-repeat;
}
.sync_account {
	width:660px;
	margin:0px auto;
	color:#A2ACB6!important;
}
#sync_status {font-size:12px;display:block;margin:10px 0 0;}
.sync_account label {
	margin-top:30px;
	font-family:"Times new roman",serif;
	font-weight:normal;
	font-style:italic;
	color:#222;
	font-size:20px;
}
.sync_account input[type=image] {
	padding:0;
	border:0;
	box-shadow:0;
}
#options-sync-username, #options-sync-password {

	width:240px!important;
	padding:10px;
	border:1px solid #ccc;
	box-shadow:inset 0 0 20px rgba(0,0,0,0.1);
	border-radius:3px;

}
	.sync_account .hideShowPassword-toggle {
		padding: 0 10px!important;
		margin:0!important;
		top:20%!important;
		color: #aaa;
		cursor: pointer;
		font-size: 11px;
		font-weight: normal;
		text-transform: uppercase;
	}
	.sync_account .hideShowPassword-toggle:hover {
		color:#666;
	}

.sync_account a.grey {
	color:#A2ACB6!important;
	font-size:12px;
}
#setup_sync {
	margin-top:0;
	padding-top:0;
	clear:both;
}
#setup_sync img {
	float:right;
	margin-top:0px;
	margin-bottom:20px;
}
#setup_sync div {
	padding:80px;
	padding-top:0;
	width:350px;
}
#setup_sync div p#sync_info {
	font-size:28px;
	color:#111;
	margin-bottom:20px;
}
#setup_sync div #sync_features {
	margin:0px;
	list-style-type:circle;
	font-size:19px;
}
#setup_sync div #sync_features a{ color:#42A2E6!important; text-decoration:underline; }
#setup_sync div #sync_features li {margin:8px 0}
#setup_sync div span {

	font-weight:bold;
}
#setup_sync div p#sync_price {
	font-size:48px;
	margin-top:20px;
}
#setup_sync div p#sync_price_info {
	font-size:16px;
	color:#aaa;
}

#explain_sync {
	padding:20px 80px;
	border-top:1px dotted #ccc;
	color:#666;
	font-size:14px;
	line-height:1.7em;
}
#explain_sync #left {
	width:42%;
	float:left;
}
#explain_sync #right {
	width:47%;
	float:right;
}
#explain_sync h2 {
	color:#428ECC;
	padding:0;
	border:0;
	margin:25px 0 20px 0;
	font-size:22px;
}
#explain_sync h3 {
	color:#222;
	margin:10px 0 5px 0;
	font-size:16px;
}

.user-account {
	position:relative;
}
.user-account .sync_account td {
	padding-top:10px;
}
.user-account .sync_account label {
	color:#999;
}
.user-account h2 {
	font-weight: normal;
	font-size:24px;
	color:#555;
	margin:4px 0;
	border:0;
	padding:0;
}
.user-account h3 {
	margin:20px 0 10px 0;
	font-size:18px;
	font-weight:bold;
	color:#222;
}
.user-account table td {
	vertical-align:top;
	padding:0;
}
.user-account .sync-status {
	width:650px;
	font-size:12px;
	color:#aaa;
	margin:140px auto 0 auto;
}
.user-account .sync-status-text {
	display:none;
	line-height:1.5em;
	margin:0 0 40px 0;
	font-size:18px;
}
.user-account .sync-status-text span {
	font-size:18px;
	display:inline;
}
.user-avatar-container {
	position:absolute;
	left:56px;
	top:60px;
}
.user-avatar {
	width:64px;
	height:64px;
	border:2px solid #fff;
	border-radius:50%;
}

#subtle_patterns {width:100%;padding:20px 0;}
.pattern {width:170px;height:170px;margin:3px;border:1px solid #eee;display:block;float:left!important;background-repeat:repeat;cursor:pointer;}
.pattern:hover {border:1px solid #ccc;}
h3.info {
	font-size:17px;
	color:#aaa;
	line-height:1.6em;
	font-weight:normal;
	padding:20px 0 0px 0;;
	text-align:left;
}
h3.info a {color:#86ADC1!important}
#notes {margin:0 0 40px 0;}
#notes h3 {font-size:1.4em;color:#0083EC}
#notes p {margin:15px 0;}
#notes b {font-size:1.1em;margin-bottom:5px;display:block;}
#register_account{ margin:0 auto;font-family:'times new roman', serif;font-style:italic; padding-top: 90px;font-size:26px; color:#555;width:512px;height:100px;background:url(../images/options.sync.login.png) no-repeat}
#register_account a {text-decoration:underline; }
#background_positioning table td {padding:4px 20px 4px 0;}
#background_positioning {padding:20px;}
#background_file .msg {
	padding:20px 40px;
	margin:0 0 20px 0;
	text-align:center;
	background:#d1e9b8;
	color:#222;
	border:1px solid #eee;
}
#background_file p {
	font-size:18px;
}
#background_file .hide-premium {
	padding:30px 0;
}
#background_file .progress-bar {
	margin-top:20px;
}
#preview #pages li {
	position:static;padding-bottom:14px;
}
#preview #pages li a {
	padding:7px; padding-bottom: 0px;
}
#preview #pages li a .thumbnail_container {
	background-size: contain; background-image: url(../images/options.dial.jpg); height: 131.66666666666666px; background-position: 50% 50%;
}
#preview #pages li a .title {
	height:28px;padding:4px 3px;font-size:16px;
}
#explain {
	display:none
}
#options-corners-val {
	border:0;background:transparent;width:25px;margin-left:15px;padding:0;margin-right:0px;
}
#options-padding-val {
	border:0;background:#fff;width:25px;margin-left:15px;padding:0;margin-right:0px;
}

#options-fontsize {
	width:40px;padding:2px;
}
#options-fontstyle {
	width:200px;
}
#options-custom-css {
	width:900px;
}
#tab_design .tabs {
	margin-left:-30px;padding-left:20px;width:940px;margin-bottom:0;
}
a.explain_link {color:#999!important;font-size:12px;}
a.explain_link:hover {text-decoration:underline}

label[for] {
	cursor:pointer!important;
}
label[for]:hover {
	text-decoration:underline;
}

input[name=options-dropShadow],
input[name=options-titlePosition],
input[name=options-titleAlign]
{
	margin-left:20px;
}
input[name=options-dropShadow]:first-child,
input[name=options-titlePosition]:first-child,
input[name=options-titleAlign]:first-child {
	margin:0;
}

.questionmark {
	cursor:pointer;
	background:url(../images/misc.questionmark.png) no-repeat;
	background-size:contain;
	float:right;
	width:12px;
	height:12px;
	margin:5px 0 0 0;
	opacity:0.7;
	padding:5px;
	font-weight:bold;
	font-size:16px;
}
.questionmark:hover {
	opacity:1;
}

.bookmarks-provider {
	width:700px;
	background:#fafafa;
	border:1px solid #eee;
	margin-top:20px;
	text-align:left;
	padding:20px;
}
.bookmarks-provider table {
	margin:0!important;

}
.bookmarks-provider input[type=text] {
	width:200px;
}

.tab {
	min-height:500px;
	height:auto !important;
	height:500px;
}

/* --------------------------------------------------------
	Modals
	 -------------------------------------------------------- */

	/* Container */
	.modal {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 50%;
		max-width: 630px;
		min-width: 320px;
		height: auto;
		z-index: 2000;
		visibility: visible;
		-webkit-transform: translateX(-50%) translateY(-100%);
	}
	.modal.state-closed {
		visibility: hidden;
		transition: all 0.3s;
	}

	/* Overlay */
	.modal-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		opacity: 1;
		visibility: visible;
		top: 0;
		left: 0;
		z-index: 1000;
		background: rgba(32,31,31,0.8);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}
	.modal-overlay.state-closed {
		visibility: hidden;
		opacity: 0;
	}

	/* Content */
	.modal-content {
		color: #fff;
		background: #e74c3c;
		position: relative;
		border-radius: 3px;
		margin: 0 auto;
		opacity: 1;
		visibility: visible;
		-webkit-transform: scale(1);
		-webkit-transition: all 0.3s;
	}
	.modal.state-closed .modal-content {
		opacity: 0;
		visibility: hidden;
		-webkit-transform: scale(0.7);
	}
	.modal-content h3 {
		margin: 0;
		padding: 0.4em;
		text-align: center;
		font-size: 2.4em;
		font-weight: 300;
		opacity: 0.8;
		background: rgba(0,0,0,0.1);
		border-radius: 3px 3px 0 0;
	}
	.modal-content label {
		display: inline;
		font-size: 1em;
		cursor: pointer;
		margin: 0 16px 10px 0;
	}
	.modal-content label input {
		vertical-align: middle;
		margin:0 3px 0 0;
	}
	.modal-content p {
		margin:16px 0;
	}
	.modal-content > div {
		padding: 15px 40px 30px;
		margin: 0;
		font-weight: 300;
		font-size: 1.2em;
		line-height: 1.6em;
	}

	/* Modal types */
	.modal-info .modal-content {
		background: #fff;
		color:#222;
	}
	.modal-info ~ .modal-overlay {
		background: rgba(70,70,70,0.3);
	}

/* // Modal */

.twitter-free-account {
	display:none;
	color:#777;
	font-size:14px;
}
.twitter-free-account h3 {
	font-size:20px;
	line-height:1.5em;
	color:#444;
}
.twitter-share-button {
	display:inline-block;
	background: url(../images/options.tweet.png) 8px 6px no-repeat,-webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
	border: #bbb solid 1px;
	border-radius: 3px;
	margin:8px 26px 0 12px;
	padding:8px 12px 8px 32px;
	color: #333;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	user-select: none;
	cursor: pointer;
	overflow: hidden;
}
.twitter-share-button:hover {
	text-decoration: none;
	border-color:#999;
}